.starred-container {
  flex: 5;
}

.starred-inner {
  width: 90%;
  background-color: #f4f4f4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.starred-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 2px solid #777;
  cursor: pointer;
  transition: all 0.25s ease;
}

.starred-item:hover {
  background-color: #77777726;
}

.starred-item.read {
  font-weight: bold;
}

.starred-item-icon {
  flex: 1;
}

.starred-item-subject {
  flex: 2;
  font-size: 18px;
}

.starred-item-body {
  flex: 5;
  font-size: 16px;
}

.starred-item-date {
  flex: 2;
  text-align: center;
}


.starred-btns-wrapper {
  display: none;
  flex: 2;
  justify-content: center;
  gap: 10px;
}

.starred-item:hover {
  .starred-item-date {
    display: none;
  }
  .starred-btns-wrapper {
    display: flex;
  }
}