.inbox-container {
  flex: 5;
}

.inbox-inner {
  width: 90%;
  background-color: #f4f4f4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.inbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 2px solid #777;
  cursor: pointer;
  transition: all 0.25s ease;
}

.inbox-item:hover {
  background-color: #77777726;
}

.inbox-item.read {
  font-weight: bold;
}

.inbox-item-icon {
  flex: 1;
}

.inbox-item-subject {
  flex: 2;
  font-size: 18px;
}

.inbox-item-body {
  flex: 5;
  font-size: 16px;
}

.inbox-item-date {
  flex: 2;
  text-align: center;
}

.inbox-btns-wrapper {
  display: none;
  flex: 2;
  justify-content: center;
  gap: 10px;
}

.inbox-item:hover {
  .inbox-item-date {
    display: none;
  }
  .inbox-btns-wrapper {
    display: flex;
  }
}
