.trash-container {
  flex: 5;
}

.trash-inner {
  width: 90%;
  background-color: #f4f4f4;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.trash-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 0;
  border-bottom: 2px solid #777;
  cursor: pointer;
  transition: all 0.25s ease;
}

.trash-item:hover {
  background-color: #77777726;
}

.trash-item-icon {
  flex: 1;
}

.trash-item-subject {
  flex: 2;
  font-size: 18px;
}

.trash-item-body {
  flex: 5;
  font-size: 16px;
}

.trash-item-date {
  flex: 2;
  text-align: center;
}